@tailwind base;
@tailwind components;
@tailwind utilities;

.nameTitle {
  font-family: "Mercury SSm A", "Mercury SSm B", Avenir, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.7px;
  line-height: 54px;
  text-transform: none;
}

.infoItem {
  font-family: "Whitney SSm A", "Whitney SSm B", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-transform: none;
}

.sectionHeading {
  font-family: "Mercury SSm A", "Mercury SSm B", Avenir, sans-serif;
  font-size: 22.4px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.7px;
  line-height: 28px;
  text-transform: none;
}

.mainContent {
  font-family: "Whitney SSm A", "Whitney SSm B", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-transform: none;
}