.infoPanel {
  background-color: #8e9dcc;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}